In [1]:
#coding=utf8
import numpy as np 
import pandas as pd 
import os

In [2]:
data_root = '/media/gserver/data/tianwen/rawdata'
os.listdir(data_root)

['first_train_index_20180131.csv',
 'first_test_data',
 'first_test_index_20180131.csv',
 'first_train_data']

In [12]:
train_index_path = os.path.join(data_root, 'first_train_index_20180131.csv')
test_index_path = os.path.join(data_root, 'first_test_index_20180131.csv')
train_data_root = os.path.join(data_root,'first_train_data')
test_data_root = os.path.join(data_root,'first_test_data')

In [25]:
train_index = pd.read_csv(train_index_path)
test_index = pd.read_csv(test_index_path)
train_index.head()
test_index.head()

        id
0   822405
1  1142964
2  1241977
3  1309049
4  1085810

In [7]:
train_index.type.value_counts()

star       442969
unknown     34288
galaxy       5231
qso          1363
Name: type, dtype: int64

In [10]:
test_index.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 1 columns):
id    100000 non-null int64
dtypes: int64(1)
memory usage: 781.3 KB

In [24]:
for id in train_index['id']:
    data_path = os.path.join(train_data_root,'%s.txt'%id)
    print np.loadtxt(data_path,delimiter=',').shape

    break

(2600,)